*{
    font-family: sans-serif;
}

body{

    background-color: rgb(27, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    flex-direction: column;
    z-index: initial;
}

button{

    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #27d118;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 10px;
   
}

span{

    background-color: rgb(5, 231, 17);
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.6s;

}
button:hover span{
width: 100%;

}
div{
    color: aliceblue;
    position: inherit;
    flex-wrap: wrap;
}